@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Protest+Riot&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 45rem;
  background-color: var(--Dark-Grayish-Blue);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  position: relative;
}

#advice-title {
  margin-bottom: 1.5rem;
  color: var(--Neon-Green);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#quote {
  color: var(--Light-Cyan);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.break img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#dice {
    position: absolute;
    background-color: var(--Neon-Green);
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -22px;
    cursor: pointer;
    
}

#dice img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
